* {
  text-align: center;
}
.roulette {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.roulette h1 {
  margin: 50px auto;
  color: #809ce3;
}
.roulette-pointer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.roulette-pointer.right {
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  margin-top: -40px;
  transform: rotate(90deg);
  z-index: 1;
}
.roulette-pointer.bottom {
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) rotate(180deg);
  z-index: 1;
}
.roulette-pointer.left {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -40px;
  transform: rotate(-90deg);
  z-index: 1;
}
.roulette-image {
  padding: 50px;
}

#roulette-button {
  margin: 20px;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.25s;
  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  color: white;
}
#roulette-button:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}
#roulette-button:active {
  transform: scale(1.5);
}
